<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-header">Склад</li>
        <li class="nav-item">
            <a href="/Transaction" class="nav-link">
                <i class="nav-icon fas fa-truck"></i>
                <p>Транзакции</p>
            </a>
        </li>
        <li class="nav-header">Отчеты</li>
        <li class="nav-item">
            <a href="/Report/StoreStockReport" class="nav-link">
                <i class="nav-icon fas fa-building"></i>
                <p>Складские запасы</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Report/TransactionDetailReport" class="nav-link">
                <i class="nav-icon fas fa-list-alt"></i>
                <p>Сведения о складе</p>
            </a>
        </li>

        <li class="nav-header">Описание</li>
        <li class="nav-item">
            <a href="/Category" class="nav-link">
                <i class="nav-icon fas fa-folder"></i>
                <p>
                    Категории
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/UnitOfMeasure" class="nav-link">
                <i class="nav-icon fas fa-box-open"></i>
                <p>
                    Единицы
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Product" class="nav-link">
                <i class="nav-icon fas fa-barcode"></i>
                <p>
                    Товар
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Store" class="nav-link">
                <i class="nav-icon fas fa-building"></i>
                <p>
                    Склады
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/User" class="nav-link">
                <i class="nav-icon fas fa-user"></i>
                <p>
                    Пользователь
                </p>
            </a>
        </li>
        <li class="nav-header"></li>
        <li class="nav-item">
            <a href="/Auth/Logout" class="nav-link">
                <i class="nav-icon fas fa-sign-out-alt"></i>
                <p>
                    Выйти
                </p>
            </a>
        </li>

    </ul>
</nav>